


<h1>Signup</h1>

<form action ="/createUser" method="post" class="signup">
  <label for="name">
    What is your name?
    <input type ="text" name = "name">
  </label>
  <input type="submit" value="Submit" class="submit">
</form>
